.body {
    background-color: lightgray;
}

#footer {
    text-align: left;
    font-size: 15px;
    color: ghostwhite;
    margin-top: 100px;
}

.card-body {
    background-color: aliceblue;
}

.front-container {
    height: 200px;
    position: relative;

}

.div-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.img-extra {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img {
    width: 80px;
    height: 80px;
    float: left;
    margin: 0px 5px 0px -10px;
}

.fadeIn {
    display:none;
}

/*#footer {*/
/*    display:none;*/
/*}*/