.body {
    background-color: lightgray;
}

#footer {
    text-align: left;
    font-size: 15px;
    color: ghostwhite;
    margin-top: 100px;
}

.card-body {
    background-color: aliceblue;
}

.front-container {
    height: 200px;
    position: relative;

}

.div-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
