{% extends "base.html.twig" %}
{% block title %} Show User Template {% endblock %}
{% block content %}
    <div class="row">
    <div class="mb-12">
        <div class="card mb-12" style="height: 100%;">
            <div class="card-header"> Admin</div>
            <div class="card-body">
                Admin Tools:
            </div>
            <div class="text-center">
                <a href="{{ url("transaction_create") }}" type="button" class="btn btn-dark">Create Transaction</a>
                <a href="{{ url("species_create") }}" type="button" class="btn btn-success">Create Species</a>
                <a href="{{ url("breed_create") }}" type="button" class="btn btn-primary">Create Breed</a>
            </div>
            <br>
        </div>
        <a href="{{ url("user_profile") }}"> Go Back To Your Profile </a>
    </div>
{% endblock %}