{% extends 'base.html.twig' %}

{% block title %} Front page {% endblock %}

{% block content %}
    <h1 id="name" class="text-center display-4" style="margin-top: 10vh;"> Blogs Project </h1>
    <div class="front-container">
        <div class="div-center">
            <a id="btn-in" class="btn btn-info border-white"> Sign In </a>
            <a id="btn-up" class="btn btn-info border-white"> Sign Up </a>
            <script>
                $("#btn-in").click(function() {
                    $( "#name, #btn-in, #btn-up" ).fadeOut(500, function(){
                        window.location.assign('login');
                    });
                });
                $("#btn-up").click(function() {
                    $( "#name, #btn-in, #btn-up" ).fadeOut(500, function(){
                        window.location.assign('register');
                    });
                });
            </script>
        </div>
    </div>
{% endblock %}